
.canvasCircle {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-left: -13px;
    margin-top: -13px;
    background-color: #dddddd;
    opacity: 0.9;
    position: absolute;
    cursor: pointer;
}

.canvasCircle div {
    color: black;
    margin: 4px 0;
    text-align: center;
    font-size: small;
}
